body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le défilement horizontal */
  }
  
  .page {
    padding: 20px;
  }
  
  .personnage {
    width: 30px;
    height: 30px;
    background-color: red;
    position: fixed;
    bottom: 0;
    left: 0;
    animation: marche 5s linear infinite;
  }
  
  @keyframes marche {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }


main {
  padding-top: 20px;
  text-align: center;
}


/*Responsive pour le texte A AJOUTER*/